{% extends 'layout.twig' %}
{% block body %}
    {% include 'nav.twig' %}
    <img class="about_image" src="images/About-us.jpg">
{#    <style>#}
{#        /*.carousel-inn*/#}
{#    </style>#}
    <style>
        .image {
            width: 100%;
            padding-top: 66.66%;
            background: black;
            background-size: cover;
        }

    </style>

    <div id="about_carousel" class="carousel slide" style="width: 50%;margin: auto;max-width: 900px" data-ride="carousel">

        <div class="carousel-inner">
            {% set active = 'active' %}
            {% for user in users %}
                <div class="carousel-item {{ active }}" >

                    <img src="profile_pics/{{ user.user_uid }}" onload="this.remove()" onerror="this.parentNode.remove()" class="d-block w-100 " >
                    <div class="image" onload='this.style.backgroundImage = `url("fileserver.php?folder=profile_pics&file={{ user.user_uid }}")`' style='background-image: url("profile_pics/{{ user.user_uid }}")'></div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ user.user_first}}</h5>
{#                        <p>{{ user.description }}</p>#}
                    </div>
                </div>
                {% set active = '' %}
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#about_carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#about_carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
    <div class="about_body">
        <div class="about_tab container">
            <div class="row">
                <div class="about_history col-md">
                    <h1>Our History</h1><br>
                    <p>Launched in 1995 under the direction of CSO percussionist Patricia Dash and Douglas Waddell, percussionist with Lyric Opera of Chicago, the Percussion Scholarship Program offers intensive, individual, weekly percussion instruction on a full scholarship basis. Participating students, all Chicago residents in grades three through twelve, are selected for the group through a rigorous application and personal interview process.

                        As an ensemble, the Percussion Scholarship Group has had numerous compositions arranged especially for them by nationally known artists. The group has performed at the Percussive Arts Society International Convention, performs twice annually at Symphony Center and has appeared at Macy's Day of Music, DePaul University, the Chicago Cultural Center, on WTTW, on WGN and WFMT radio, and as soloists with members of the Chicago Symphony Orchestra as part of CSO Youth Concerts, the Kraft Family Matinee Series and Welcome Yule! Concerts.</p>
                </div>
            </div><br>
                <h1>About the Directors</h1>
            <br>
                <div class="row">
                    <div class="col">
                        <h1>
                            Patricia<br> Dash
                        </h1>
                        <p>
                            Patricia Dash was appointed to the Chicago Symphony Orchestra by Sir Georg Solti in 1986, when she was just twenty-four years old. Born in Rochester, New York, she began her percussion studies at the age of nine. She received a diploma with honors and a certificate of merit from the Eastman School of Music’s Preparatory Department in 1979, and went on to earn a Bachelor of Music degree with distinction from Eastman in 1983. Her teachers include John Beck, Ruth Cahn, Allen Otte, Richard Jenson, and Doug Howard. While in college, she performed as an extra with both the Rochester Philharmonic and the Cincinnati Symphony orchestras. Dash came to Chicago from the Florida Philharmonic Orchestra, where she held the position of principal percussionist. Since coming to Chicago, she has become an active chamber musician, performing with Chicago Chamber Musicians, the Chicago Pro Musica, the CSO Trombone Ensemble, the Ensemble Inter Contemporain of Paris, and in numerous Chicago Symphony chamber music concerts at Orchestra Hall. She has been soloist with Symphony of the Shores, Elmhurst Symphony Orchestra, Palatine Band and DuPage Symphony.
                        </p>
                    </div>
                    <div class="col">
                        <h1>
                            Douglas <br> Waddell
                        </h1>
                        <p>
                            A member of the Grant Park Symphony and the Chicago Lyric Opera Orchestra, Douglas Waddell is constantly in demand as Chicago’s most versatile and virtuosic percussionist. He has been timpanist with the renowned Music of the Baroque ensemble since 1983, and as a member of the Contemporary Chamber Players of Chicago has performed and recorded a wide variety of 20th century chamber works. Mr. Waddell has performed throughout the United States, Europe and Japan with the Chicago Symphony Orchestra and can be heard all over the world on hundreds of television and radio commercial jingles. He has appeared as soloist with the Grant Park Symphony, Symphony of the Shores and the Contemporary Chamber Players of Chicago. A native of South Bend, Indiana, Mr. Waddell holds Bachelor and Master of Music Degrees from DePaul University.
                        </p>
                    </div>

            </div>
        </div>
    </div>


{% endblock%}